b#topnav {
    top:0!important;
}

#main {
    top: 33px !important;
}

#brandingBar, #topNav, #skinTab, #promobox, .platformPromo, #footer, .contents > .info, .contextual_help_container, .tip_container {
    display:none !important;
}

.rightcolumn {
    position: relative !important;
    right: 20px !important;
}

body{
    height: 600px !important;
    width: 800px !important;
    overflow: hidden !important;
}

div#mainContent{
    min-height: 535px !important;
    height: 535px !important;
    overflow: hidden !important;
}

div#mainContainer, .home  {
    min-height: 600px !important;
    height: 600px !important;
    overflow: hidden !important;
}

.stationContent {
    min-height: 511px !important;
    height: 511px !important;
}

.stationListHolder {
    height: 503px !important;
}

#detailContainer {
    height: 220px !important;
    overflow: hidden !important;
}

.homeRightSide {
    height: 533px !important;
    padding-left: 0px !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

/* Right Pane Track Info Under Album Art */
#trackInfo {
    min-height: 0px !important;
}
