/************************/
/* PULL UP SPLASH IMAGE */
/************************/

div#mainContentContainer.contentContainer {
    top: -57px !important;
}

/***********************/
/* HIDE EXTRA ELEMENTS */
/***********************/

#brandingBar,
#skinTab,
#promobox,
.platformPromo,
.contextual_help_container,
div.tip_container,
.cd_icon,
div#videoPlayerContainer,
#ad_container,
#footer,
div.welcome_content > p.firstLine,
div.btn_content > div.signin {
    display:none !important;
}

/**************************/
/* FIX TOPNAV ACTIVE AREA */
/**************************/

div#topnav {
    display: block !important;
    height: 72px !important;
}

/************************/
/* FIX TOPNAV SONG INFO */
/************************/

.rightcolumn {
    position: relative !important;
    right: 20px !important;
}

/***************************************/
/* HIDE MENU BAR DIRECTLY BELOW TOPNAV */
/***************************************/

div.skinContainer {
    top: -30px !important;
    height: 578px !important;
}

/*********************/
/* FIXED WINDOW SIZE */
/*********************/

body {
    height: 578px !important;
    width: 800px !important;
    overflow: hidden !important;
}

div#mainContent{
    min-height: 535px !important;
    height: 535px !important;
    overflow: hidden !important;
}

div#mainContainer {
    min-height: 608px !important;
    height: 608px !important;
    overflow: hidden !important;
}

.home  {
    min-height: 600px !important;
    height: 600px !important;
    overflow: hidden !important;
}

.stationContent {
    min-height: 511px !important;
    height: 511px !important;
}

.scroll-pane.vertical-only {
    overflow: hidden !important;
}

div.homeRightSide {
    height: 511px !important;
    width: 610px !important;
    padding-left: 0px !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

div#adLayout, div#mainContentContainer {
    width: 800px !important;
}

div.slidesForeground {
    width: 600px !important;
}

.stationListHolder {
    height: 481px !important;
}

div.nowplaying > div.info {
    width: 242px !important;
    margin-right: 5px !important;
}

div#track_menu_dd {
    left: 574px !important;
}

/************************/
/* ADJUST PLAYLIST VIEW */
/************************/

div#shuffleIcon {
    overflow: visible !important;
    background-position: 49px 3px !important;
    width: 100% !important;
}

.stationListItem .stationName .stationNameText,
#shuffleIcon {
    padding-left: 2px !important;
    width: 174px !important;

}

.stationListItem .stationName .stationNameText {
    display: inline !important;
    float: none !important;
}

/*div.stationListItem > ul > li {
    padding-left: 7px !important;
}*/

/***********************/
/* ADJUSTING INFO PANE */
/***********************/

div.contents > div.info > div:not(.buttons),
div.contents > div.info > img.thumb {
    display: none !important;
}
div#trackInfo {
    padding: 6px 5px 6px 5px !important;
    min-height: 25px !important;
}
div.contents > div.info {
    padding-top: 0 !important;
}
div.contents > div.info > div.buttons {
    width: 130px !important;
}
div.contents > div.info > div.buttons > div {
    display: inline-block !important;
    padding: 0 !important;
}
div.slideDragContainer {
    margin-top: -3px !important;
}