



div#topnav {
display: block !important;
height: 72px !important;
}

/*#main {
    top: 33px !important;
}*/

#brandingBar, #skinTab, #promobox, .platformPromo, #footer, .contextual_help_container, div.tip_container, .cd_icon, div#videoPlayerContainer, #ad_container, div#brandingBar, #footer {
    display:none !important;
}

.rightcolumn {
    position: relative !important;
    right: 20px !important;
}

body {
    height: 578px !important;
    width: 800px !important;
    overflow: hidden !important;
}

div#mainContent{
    min-height: 535px !important;
    height: 535px !important;
    overflow: hidden !important;
}

div#mainContainer {
    min-height: 608px !important;
    height: 608px !important;
    overflow: hidden !important;
}

.home  {
    min-height: 600px !important;
    height: 600px !important;
    overflow: hidden !important;
}

.stationContent {
    min-height: 511px !important;
    height: 511px !important;
}

.scroll-pane.vertical-only {
    overflow: hidden !important;
}

.stationListHolder {
    height: 481px !important;
}

/*#detailContainer {
    height: 220px !important;
    overflow: hidden !important;
}*/

div.homeRightSide {
    /*height: 533px !important;*/
    height: 511px !important;
    width: 610px !important;
    padding-left: 0px !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

div#mainContentContainer.contentContainer {
    top: -57px !important;
}

div#adLayout, div#mainContentContainer {
    width: 800px !important;
}

div.slidesForeground {
    width: 600px !important;
}

div.skinContainer {
    top: -30px !important;
    height: 578px !important;
}

#trackInfo {
    min-height: 0px !important;
}

/*div.info > div {
    float: right !important;
    width: 265px !important;
}*/

div#track_menu_dd {
    left: 574px !important;
}
/*
div.buttons > div.buyButton, div.info > :not(:first-child) {
    display: none !important;
}

div.buttons > div.shareButton {
    display: block !important;
    float: right !important;
}

div.info, div.buttons, div.shareButton {
    overflow: visible !important;
    display: block !important;
}*/

div.nowplaying > div.info {
    width: 242px !important;
    margin-right: 5px !important;
}

div.contents > div.info {
    display: none !important;
}

div#shuffleIcon {
    overflow: visible !important;
    background-position: 49px 3px !important;
    width: 100% !important;
}

.stationListItem .stationName .stationNameText, #shuffleIcon {
    padding-left: 2px !important;
    width: 174px !important;
}
