/*div.homeRightSide
{
	padding-left:0!important;
}

div.fxCol-cont-1
{
	background:none!important;
}

div.searchBox
{
	width:60px!important;
}

#mainContentContainer
{
	width:610px!important;
}

#pandoriumSearchAdd
{
	height:29px;
	width:20px;
	background:url(/img/bg_search_input.png) center right no-repeat;
}

div.searchBoxFocus
{
	width:120px!important;
	-webkit-transition:width 1s ease-in-out;
	transition:width 1s ease-in-out;
}

#pandoraRibbonContainer,div.stationContent
{
	display:none!important;
}*/

/*.outer_bg {
    margin-top: 30px !important;
}*/

b#topnav
{
	top:0!important;
}

#brandingBar, #adLayout, #topNav {
display:none !important;
}

body {
    height: 330px !important;
    overflow:none !important;
}

#mainContainer {  
top: -30px !important;
height: 376px !important;
}

#main {
top: 40px !important;
}